body {
    font-family: 'Kanit', sans-serif;
}

a {
    text-decoration: none;
}

.front {
    background-image: linear-gradient(to right, #e168ff, #ffad48);
}

.container {
    /* border: 2px solid black; */
    margin: auto;
    height: 720px;
    width: 1200px;
}

.navbar {
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    color: white;
}

#logo {
    font-size: 35px;
    margin-left: 30px;
}

#links-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 30px;
}

.links {
    color: white;
    font-size: 25px;
}

.about {
    /* border: 2px solid brown; */
    height: fit-content;
    line-height: 1.4;
    word-spacing: 5px;
    margin-top: 100px;
    color: white;
}

.about-info {
    font-size: 24px;
}

#web-name {
    font-size: 140px;
    margin-top: 20px;
    letter-spacing: 3px;
    font-weight: 600;
}

.down-arrow {
    font-size: 40px;
    margin-top: 10px;
}

.card {
    border: 2px solid magenta;
    height: max-content;
    display: flex;
    margin-top: 80px;
}

img {
    height: 400px;
}

.card-info {
    font-size: 40px;
    font-weight: 900;
}

.card-data {
    margin-left: 30px;
}

.card-footer {
    color: grey;
    font-size: 15px;
}

.social-media {

    display: flex;
}

.brands {
    height: 45px;
    width: 45px;
    font-size: 30px;
    padding-left: 9px;
    padding-top: 6px;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: rgb(200, 197, 197);
    margin-right: 20px;
}